<div class="add-todo-form text-center">
	<h1>Add todo</h1>
	<div class="form-group">
		<input class="form-control input-group-lg" placeholder="Add todo..." autofocus #todoText>
		<br>
		<button (click)="addTodo($event, todoText)" class="btn btn-primary btn-block">Create</button>
	</div>
</div>

<div class="todo-list">

	<div *ngFor="let todo of todos" class="row">
		<div class="col-md-1">
			<input type="checkbox" [checked]="todo.isCompleted" (click)="updateStatus(todo)">
		</div>

		<div class="col-md-7 row">
			<span [hidden]="todo.isEditMode">{{todo.text}}</span>
			<input type="text" class="" [value]="todo.text"
								[hidden]="!todo.isEditMode"
								(keypress)="updateTodoText($event, todo)">
			<input type="button" class="btn btn-warning" value="Cancel"
								[hidden]="!todo.isEditMode"
								(click)="setEditMode(todo, false)">
		</div>

		<div class="col-md-4">
			<input type="button" class="btn btn-danger float-md-right" value="Delete"
								(click)="deleteTodo(todo)">
			<input type="button" class="btn btn-secondary float-md-right" value="Edit"
								[disabled]="todo.isCompleted"
								(click)="setEditMode(todo, true)">
		</div>
	</div>

</div>
